<strong>Olá, {{ provider }}</strong>
<p>Um usuário se inscreveu no seu meetup, informacões detalhadas abaixo:</p>
<p>
    <strong>Usuário: </strong> {{ user }} <br />
    <strong>Meetup: </strong> {{ meetup }} <br/>
    <strong>Endereco: </strong> {{ address }} <br/>
    <strong>Data/Hora: </strong> {{ date }} <br />
</p>